<html>
  <head>
    <title>
      CODE GUESS
    </title>
  </head>
  <body>
    <header>
      <h3>
        Welcome please guess below the two characters as instructed
      </h3>
      <h5>
        <%= first_message %>
      </h5>
    </header>
    <footer>
      <p class="version">
        v 0.1
      </p>
    </footer>
  </body>
</html>
